@model IEnumerable<ferromax.Models.Empleados>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombresEmpleados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidosEmpleados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefonoEmpleados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailEmpleados)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombresEmpleados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellidosEmpleados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefonoEmpleados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailEmpleados)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
